<%- include('../../inc/headerstart') %>
<!--formulaire-->
<form class="container_start">
    <div class="presentation">
        <p class="gras">Confirmer votre identite et vos numero telephone mobile-money</p>
        <p> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tenetur voluptates, ratione nihil officia fugiat
            facilis ea quae distinctio magni, labore, repellat corporis eum quis beatae obcaecati tempora autem
            necessitatibus cumque!</p>
    </div>
    <div class="ligne">
        <div class="text">
            <p class="gras">Votre adress mail</p>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestias placeat quia ea repellendus,
                assumenda tenetur esse amet doloremque reprehenderit corrupti ut sunt asperiores, non aspernatur omnis a
                fugiat maxime voluptates.</p>
        </div>
        <div class="fd">
            <div class="fd_mail">
                <div>
                    <p class="gras">user***@****.com</p>
                    <a class="button" href="/projet/create/recompense">
                        <p>Modifier</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="ligne">
        <div class="text">
            <p class="gras">Numero de telephone</p>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestias placeat quia ea repellendus,
                assumenda tenetur esse amet doloremque reprehenderit corrupti ut sunt asperiores, non aspernatur omnis a
                fugiat maxime voluptates.</p>
        </div>
        <div class="form_start">
            <div class="form">
                <div>
                    <p class="gras">NUMERO</p>
                    <input type="text" name="numero de telphone" placeholder="Numero">
                </div>
            </div>
        </div>
    </div>
    <a class="button" id="suivant" href="/projet/create/recompense">
        <p>suivant</p>
    </a>
</form>
<script src="/assets/js/ajout_photo.js"></script>
<script src="/assets/js/ajout_video.js"></script>
<!--formulaire-->
<%- include('../../inc/footer') %>