<%- include('../../inc/headerstart') %>
<!--formulaire-->
<div class="container_start">
    <div class="presentation">
        <p class="gras">Proposer quelques recompenses</p>
        <p>Donner leur envie de vous aider en leur proposant des contreparties </p>
    </div>
    <div class="ligne_rec">
            <div class="recompense">
                <div class="header">
                    <p>toutes les recompenses</p>
                </div>
                <div class="body">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
                <button class="new">Nouvel recompense</button>
            </div>
    </div>
    <div class="new_rec" aria-hidden="true" role="dialog">
        <div class="stopm">
            <form action="">
                <!--<button class="stop">X</button>-->
                <div>
                    <h1>Recompense</h1>
                </div>
                <div>
                    <p>Titre</p>
                    <input type="text">
                </div>
                <div>
                    <p>Montant</p>
                    <input name="montant" type="number">
                </div>
                <div>
                    <p>Description</p>
                    <textarea name="description" id="" cols="30" rows="10"></textarea>
                </div>
                <div>
                    <p>Lieu de livraison</p>
                    <div>
                        <input type="radio" name="livraison" id="liv_mond" value="monde">
                        <label for="liv_mond">livraison dans le monde entier</label>
                    </div>
                    <div>
                        <input type="radio" name="livraison" id="liv_pays" value="pays">
                        <label for="liv_pays">livraison dans certains pays seulement</label>
                    </div>
                    <div>
                        <input type="radio" name="livraison" id="liv_place" value="none">
                        <label for="liv_place">Retrait sur place (pas de livraison)</label>
                    </div>
                    <div>
                        <input type="radio" name="livraison" id="liv_num" value="num">
                        <label for="liv_num">livraison numerique(objet numerique)</label>
                    </div>
                </div>
                <div>
                    <p>Date estime de livraison</p>
                    <input type="date">
                </div>
                <div>
                    <p>Quantite</p>
                    <input type="number">
                </div>
                <div>
                    <p>Date limite</p>
                    <input type="text">
                </div>
                <div>
                    <button type="submit" class="button">ENREGISTRER</button>
                </div>
            </form>
        </div>
    </div>
    <a class="button" id="suivant" href="/projet/create/votre_histoire"><p>suivant</p></a>
</div>
<!--formulaire-->
<script>
    var modal = document.querySelector('.new_rec')
    var modal_stop = document.querySelector('.stopm')
    var btn = document.querySelector('.new')
//    var btnx = document.querySelector('.stop')

    const stop = (e) => {
        e.stopPropagation()
    }
    btn.addEventListener('click', () => {
        modal_stop.addEventListener('click', stop)
        modal.style.display = "flex"
    })
//    btnx.addEventListener('click', () => {
//        modal.style.display = "none"
//    })
    modal.addEventListener('click', () => {
        modal.style.display = "none"
    })
</script>
<%- include('../../inc/footer') %>