<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/assets/image/img/icone.png" type="image/x-icon">
    <title>S'nah</title>
    <link rel="stylesheet"  href="/assets/css/mycrt/style.css">
</head>
<body>
    <div class="container">
        <nav class="new_navbar">
           <div>
                <div>
                    <a href="/">LOGO</a>
                </div> 
                <div>
                    <a href="#" id="apercu">apercu</a>
                </div>
           </div>
           <div>
                <ul>
                    <a href="/projet/create"><li>Les base</li></a>
                    <a href="/projet/create/recompense"><li>Les recompense</li></a>
                    <a href="/projet/create/votre_histoire"><li>Votre histoire</li></a>
                    <a href="/projet/create/equipe"><li>Equipe</li></a>
                    <a href="/projet/create/fond"><li>Les fonds</li></a>
                    <a href="/projet/create/votre_campagne"><li>Votre campagne</li></a>
                </ul>
           </div>
        </nav>