<%- include('./inc/header') %> 

 <a href="/user/">utilisateur</a>
 <a href="/pays/">pays</a>
 <a href="/projet/">projet</a>
 <a href="/campagne/">campagne</a>
 <a href="/categorie/">categorie</a>
 <a href="/recompense/">recompense</a>
 <a href="/commentaire/">commentaire</a>


<%- include('./inc/footer') %> 