<%- include('./header') %> 

 <a href="/pays/">pays</a>
 <a href="/categorie/">categorie</a>
 <a href="/user/">utilisateur</a>
 <a href="/projet/">projet</a>
 <a href="/campagne/">campagne</a>


<%- include('./footer') %> 